.game-container {
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-item p {
    margin-top: 10px;
    font-size: 16px;
}

.result-win {
    color: green;
}

.result-lose {
    color: red;
}

.result-tie {
    color: orange;
}

.game-icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.game-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.choice {
    font-weight: bold;
    color: #007bff;
}

.result {
    font-size: 1.5em;
    font-weight: bold;
    /*color: purple;*/
    margin-top: 20px;
}

.score-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score-container p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #343a40;
}

.score-container .btn {
    margin-top: 10px;
}
