@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink href="counter">Counter</NavLink>
<NavLink href="fetchdata">Fetch data</NavLink>
<NavLink href="rockpaperscissors">Rock, Paper, Scissors</NavLink>
